body{
margin: 0;
text-align: center;
background-color: #EFFFFD;
}

h1{
  color: #66BFBF;
  font-size: 555%;
  font-family: 'Sacramento', cursive;
  margin: 0;
  padding: 0;
}


h2{
  /* font-size: 400%; */
      color: #66BFBF;
  font-weight: normal;
  font-family: 'Arima Madurai', cursive;
  margin: 0;
  padding: 0;
}

h3{
  color: #11999E;
  /* font-size: 400%; */
  font-family: 'Arima Madurai', cursive;
  margin: 0;
  padding: 0;
}

hr{
  margin: 70px auto 50px auto;
  border-style:none none dotted none;
  border-width:  7px;
  color: #DFDFDE;
  width: 5%;
}

a{
  margin: auto 10px auto 10px;
}

a:hover{
color: #EAF6F6; 
}

/* ---------------<>----------------------- */

.top-container{

background-color: #E4F9F5;
/* position: absolute; */
width: 100%;
padding-top: 111px;

}

.web-designer{
  color: #66BFBF;
  font-size:250%;
  margin: 0;
  padding: 0;
  font-family: 'Damion', cursive;
}

.top-cloud1{
position: absolute;
left:  170px;
top: 55px;
}


.top-cloud2{
position: absolute;
right: 300px;
top: 55px;
}

.bottom-cloud{
  position: absolute;
  left: 350px;
  bottom: 280px;
}

.mountain-img{

}

/* ___________________________________<>___________________________________ */

.middle-container{
  margin: 100px auto 60px auto;
}

.profile{
margin:auto  300px auto 300px;
}

.skills{
  margin:auto  300px auto 300px;

}

.skill-row-top{
  /* margin: auto; */
  margin:50px 10px 70px 10px;
text-align: left;
line-height: 2;
}

.skill-row-bottom{
  /* margin: auto; */
  margin:10px 10px 70px 10px;
text-align: left;
line-height: 2;
}

.boy-img{
height: 260px;
width: 260px;
  margin: 1px auto 30px auto;
border-radius: 50%;
}

.code-img{

    /* border-radius: 50%; */
    margin: auto 30px 0 auto;
    width: 25%;
      float: left;
}


.mug-img{

    margin:auto 30px 0 30px;
    border-radius: 50%;
    width: 24%;
      float: right;
}

.contact-me{
line-height: 2.5;
}



.btn {
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 19px;
  background: #72de66;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #32e0e3;
  text-decoration: none;
}

/* ________________________________<>___________________________________ */

.bottom-container{
padding: 20px;
margin: 0;
background-color: #66BFBF;
line-height: 3;
}

.footer-link{
  color: #11999E;
  /* font-size: 400%; */
  font-family: 'Arima Madurai', cursive;
  padding: 0;
  font-size: 20px;
  text-decoration: none;
}

.copyright{
  color:#EAF6F6;
  margin: 0;
}
